@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Themes/CreateSenarioTheme/Views/Shared/_OneColumn.cshtml";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-error">Unsuccessful login with service.</h3>
</hgroup>
