@{
    Layout = "~/Themes/CreateSenarioTheme/Views/Shared/_OneColumn.cshtml";
    ViewBag.Title = T( "Pedram.ResetPasswordConfirmation.Title" );
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @T( "Pedram.ResetPasswordConfirmation.Text" ) @Html.ActionLink(T( "Pedram.ResetPasswordConfirmation.LoginLink" ).ToString(), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}