
    
        /* Wrapper for page content to push down footer */
#wrap {
  height: 100%;
  max-width:1000px;
  height: auto !important;
  margin:0 auto;
  background-color:#f6f6f6;
  /* Negative indent footer by its height */
 
  /* Pad bottom by footer height */
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #ffd800;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

.masthead {
  min-height:150px;
}
/* ProductGroup page slid Show Images start */
.masthead ul li img {
    margin-top:-10px;
    width:120px;
    height:120px;
    cursor:pointer;
    animation-fill-mode:forwards;
    animation-play-state:running;

}
.masthead ul li img:hover {
   animation-name: ProductGroupPageSlideShowImages;
   animation-duration: 0.3s;

}
@keyframes ProductGroupPageSlideShowImages {
    from {width:120px;height:120px;}
    to { width:130px;height:130px;}
}
/* ProductGroup page slid Show Images end */
    .masthead ul {
    list-style:none;
    
    }
.masthead ul li h3 {
    padding-top:20%;
    padding-right:10%;

}
.masthead ul li p {
 
    padding-right:25%;
    cursor:pointer;
    color:black;

}


#wrap > .container {
  padding: 60px 15px 0;
  min-height:500px;
  

}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}

#topNav {
	z-index:-1;
}

#nav {
  max-width:1000px;
  margin-left:20px;
  position:fixed;
 
}

#nav.affix-top {
   position: absolute;
   z-index:1000;  
   border:0;
   max-width:1000px;
   padding:0;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .1s ease-in-out;
}

#footer > .container {

}
.MyContainer {
max-width:1000px;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}

.ProductNavBar {
  margin: 0 auto;
  background-color:#a8b2bc;
  color:white;
  width:100%;
}
.ProductNavBar li {
  width:190px;
  height:70px;
}

.ProductNavBar li.divider{
  width:10px;
  background-color:black;
}
.ProductNavBar li:hover {
  background-color:#f9b700;
}

.ProductNavBar li a:hover {
  background-color:#f9b700;
}

.ProductNavBar li.divider{
  width:2px;
  background-color:white;
}

.ProductNavBar li a {
    padding-top:23px;
    font:bold 18;
  width:180px;
  text-align:center;
  margin:0 auto;
  color:white;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:50px;
}

.panel {
	border-width:0;
}

@media (max-width: 768px) {
	header {

	}
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffd800;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
}

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.SectionClass h4 {
     text-align:center;
}
.SectionClass p {
    font-size:18px;
    text-align:center;
    width:98%;
    text-wrap:avoid;
}
    .SectionClass h1 {
    font-weight:bolder;
    text-align:center;
    }

.WhyDejakImgs {
width:100%;
height:140px;
}