@{
    Layout = "~/Themes/CreateSenarioTheme/Views/Shared/_OneColumn.cshtml";
    ViewBag.Title = "About";
}

<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>
@section Scripts {
    @*@Scripts.Render( "~/bundles/jqueryval" )*@
}
