@{
    Layout = "~/Themes/CreateSenarioTheme/Views/Shared/_OneColumn.cshtml";
    ViewBag.Title = "Home Page";
}
<h1> Main Page</h1>

@section Scripts {

@*<script src="~/Themes/CreateSenarioTheme/js/Suggest/jquery.a-tools-1.4.1.js"></script>
<script src="~/Themes/CreateSenarioTheme/js/Suggest/jquery.asuggest.js"></script>*@

    @*<div class="row col-lg-10">
        <textarea id="area"></textarea>
    </div>

    <script>
        var suggests = ["hello", "world","what","pedram"];
        $("#area").asuggest(suggests);
    </script>*@

    @*@Scripts.Render( "~/bundles/jqueryval" )*@
}
